form{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  width: 300px;

  input{
    width: 100%;
  }
}

.col-md-12{
  display: flex;
  flex-direction: column;
  align-items: center;
}
