<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-accordion="false" data-widget="treeview" role="menu">
        <!-- Add icons to the links using the .nav-icon class
             with font-awesome or any other icon font library -->

        <li class="nav-item has-treeview">
          <a class="nav-link" href="#">
            <i class="nav-icon fas fa-tag"></i>
            <p>
              &nbsp;Tables
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <a class="nav-link" routerLink="/products/all-products">
                <i class="far fa-circle nav-icon"></i>
                <p>All Products</p>
              </a>
              <a class="nav-link" routerLink="/products/all-users">
                <i class="far fa-circle nav-icon"></i>
                <p>All Users</p>
              </a>
              <a class="nav-link" routerLink="products/orders">
                <i class="far fa-circle nav-icon"></i>
                <p>All Orders</p>
              </a>
              <a class="nav-link" routerLink="products/order-analytics">
              <i class="far fa-circle nav-icon"></i>
              <p>Orders Analytics</p>
            </a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
    <!-- /.sidebar-menu -->
  <!-- /.sidebar -->
</aside>
